@{
    ViewBag.Brand = "Веб-приложение";
    ViewBag.HasBreadcrumb = IsSectionDefined("Breadcrumb");
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <header>
            <partial name="_NavigationPartial" />
            <div class="container-md">
                @{
                    List<BreadcrumbItem> breadcrumbItems = new List<BreadcrumbItem>()
                    {
                        new BreadcrumbItem("Главная страница", "Home", "Index"),
                        new BreadcrumbItem("Главная страница", "Home", "Index"),
                        // new BreadcrumbItem("Главная страница", "Home", "Index")
                    };
                }

                @if (ViewBag.HasBreadcrumb)
                {
                    @RenderSection("Breadcrumb", false)
                }
                else
                {
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            @foreach (BreadcrumbItem item in breadcrumbItems)
                            {
                                <li class="breadcrumb-item">
                                    <a asp-controller="@item.ControllerName" asp-action="@item.ActionName">
                                        @item.Text
                                    </a>
                                </li>
                            }
                        </ol>
                    </nav>
                }
            </div>
        </header>
        <main class="container-md">
            @RenderBody()
        </main>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
